<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>dienthoai</servlet-name>
        <servlet-class>com.controller.phones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phones</servlet-name>
        <servlet-class>com.controller.phones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>laptops</servlet-name>
        <servlet-class>com.controller.laptops</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apple</servlet-name>
        <servlet-class>com.controller.apple</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>oppo</servlet-name>
        <servlet-class>com.controller.oppo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sony</servlet-name>
        <servlet-class>com.controller.sony</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>samsung</servlet-name>
        <servlet-class>com.controller.samsung</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>wing</servlet-name>
        <servlet-class>com.controller.wing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nokia</servlet-name>
        <servlet-class>com.controller.nokia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>htc</servlet-name>
        <servlet-class>com.controller.htc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>asus</servlet-name>
        <servlet-class>com.controller.asus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lenovo</servlet-name>
        <servlet-class>com.controller.lenovo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gionee</servlet-name>
        <servlet-class>com.controller.gionee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>philips</servlet-name>
        <servlet-class>com.controller.philips</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mobell</servlet-name>
        <servlet-class>com.controller.mobell</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>huawei</servlet-name>
        <servlet-class>com.controller.huawei</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>oneplus</servlet-name>
        <servlet-class>com.controller.oneplus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>obiwordlphone</servlet-name>
        <servlet-class>com.controller.obiwordlphone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mobiistar</servlet-name>
        <servlet-class>com.controller.mobiistar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>coolpad</servlet-name>
        <servlet-class>com.controller.coolpad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>masstel</servlet-name>
        <servlet-class>com.controller.masstel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>meizu</servlet-name>
        <servlet-class>com.controller.meizu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vivo</servlet-name>
        <servlet-class>com.controller.vivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>applelaptop</servlet-name>
        <servlet-class>com.controller.applelaptop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>asuslaptop</servlet-name>
        <servlet-class>com.controller.asuslaptop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hp</servlet-name>
        <servlet-class>com.controller.hp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lenovolaptop</servlet-name>
        <servlet-class>com.controller.lenovolaptop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acer</servlet-name>
        <servlet-class>com.controller.acer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>msi</servlet-name>
        <servlet-class>com.controller.msi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dell</servlet-name>
        <servlet-class>com.controller.dell</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trangchu</servlet-name>
        <servlet-class>com.controller.trangchu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sanpham</servlet-name>
        <servlet-class>com.controller.sanpham</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>giohang</servlet-name>
        <servlet-class>com.controller.giohang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ranking</servlet-name>
        <servlet-class>com.controller.ranking</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dienthoai</servlet-name>
        <url-pattern>/dienthoai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phones</servlet-name>
        <url-pattern>/phones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>laptops</servlet-name>
        <url-pattern>/laptops</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apple</servlet-name>
        <url-pattern>/phones/apple</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>oppo</servlet-name>
        <url-pattern>/phones/oppo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sony</servlet-name>
        <url-pattern>/phones/sony</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>samsung</servlet-name>
        <url-pattern>/phones/samsung</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>wing</servlet-name>
        <url-pattern>/wing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nokia</servlet-name>
        <url-pattern>/phones/nokia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>htc</servlet-name>
        <url-pattern>/phones/htc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>asus</servlet-name>
        <url-pattern>/phones/asus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lenovo</servlet-name>
        <url-pattern>/phones/lenovo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gionee</servlet-name>
        <url-pattern>/gionee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>philips</servlet-name>
        <url-pattern>/philips</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mobell</servlet-name>
        <url-pattern>/mobell</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>huawei</servlet-name>
        <url-pattern>/huawei</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>oneplus</servlet-name>
        <url-pattern>/oneplus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>obiwordlphone</servlet-name>
        <url-pattern>/obiwordlphone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mobiistar</servlet-name>
        <url-pattern>/mobiistar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>coolpad</servlet-name>
        <url-pattern>/coolpad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>masstel</servlet-name>
        <url-pattern>/masstel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>meizu</servlet-name>
        <url-pattern>/meizu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vivo</servlet-name>
        <url-pattern>/vivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>applelaptop</servlet-name>
        <url-pattern>/laptops/applelaptop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>asuslaptop</servlet-name>
        <url-pattern>/laptops/asuslaptop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hp</servlet-name>
        <url-pattern>/laptops/hp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lenovolaptop</servlet-name>
        <url-pattern>/laptops/lenovolaptop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acer</servlet-name>
        <url-pattern>/laptops/acer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>msi</servlet-name>
        <url-pattern>/laptops/msi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dell</servlet-name>
        <url-pattern>/laptops/dell</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trangchu</servlet-name>
        <url-pattern>/trangchu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sanpham</servlet-name>
        <url-pattern>/sanpham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>giohang</servlet-name>
        <url-pattern>/giohang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ranking</servlet-name>
        <url-pattern>/ranking</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            trangchu
        </welcome-file>
    </welcome-file-list>
</web-app>
